    $yellow-primary: #F8D24E;
    $yellow:#EFD478;
    $white: #FCFCFC;
    $black:#131313;
    $brown: #D6936D;
    $olive:#AEC6A5;
    $olive-background:#84A178;
    $orange:#D6936D;
    $grey-footer:#7A7A7A;
    $grey:#ABABAB;