<section class="about-section container">
    <p class="about-pretitle">TRADITION AND LOVE</p>
    <h2 class="about-title">HOW IT'S MADE</h2>
    <div class="about-cow">
        <picture class="cow-image about-cow-item">
            <source
                srcset="./images/cow-desk.png 1x, ./images/cow-desk-2x.png 2x"
                media="(min-width: 1200px)"
            />
            <source
                srcset="./images/cow-tab.png 1x, ./images/cow-tab-2x.png 2x"
                media="(min-width: 768px)"
            />
            <source
                srcset="./images/cow-mob.png 1x, ./images/cow-mob-2x.png 2x"
                media="(min-width: 320px)"
            />
            <img 
                sizes="(min-width: 1200px) 500px, (min-width: 768px) 336px"
                src="./images/cow-desk.png" 
                alt="Корова">
        </picture>
        <div class="about-cow-description about-cow-item">
            <ul class="description-list">
                <li class="description-item">
                    <p>Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. </p>
                </li>
                <li class="description-item">
                    <p>We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
                </li>
                <li class="description-item">
                    <p>This is enough to choose ice cream and coffee for any mood!</p>
                </li>
            </ul>
            <button type="button">Read more</button>
        </div>     
    </div>
    <div>
        <ul>
            <li>
                <svg></svg>
                <p>721</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <svg></svg>
                <p>16kg</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <svg></svg>
                <p>84</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>