<section  id="about-section" class="about-section">
  <div class="container">
    <p class="about-pretitle">TRADITION AND LOVE</p>
    <h2 class="about-title">HOW IT'S MADE</h2>
    <div class="about-cow">
      <div class="cow-image about-cow-item">
        <img
          srcset="
            ./images/cow-mob.png      280w,
            ./images/cow-mob-2x.png   560w,
            ./images/cow-tab.png      336w,
            ./images/cow-tab-2x.png   672w,
            ./images/cow-desk.png     500w,
            ./images/cow-desk-2x.png 1000w
          "
          sizes="(min-width: 1200px) 500px, (min-width: 768px) 336px"
          src="./images/cow-desk.png"
          alt="Cow"
        />
      </div>
      <div class="about-cow-description about-cow-item">
        <ul class="description-list">
          <li class="description-item">
            <p>
              Ice is a place where you will become not only a little happier, but
              also healthier. Health is the main value for us, and we follow it
              when creating our handmade desserts.
            </p>
          </li>
          <li class="description-item">
            <p>
              We use traditional recipes and 100% natural ingredients. Our
              products are so natural that they can be given to children from the
              age of three years. Sweets lovers can expect 55 types of ice cream,
              15 types of coffee and 23 milkshakes.
            </p>
          </li>
          <li class="description-item">
            <p>This is enough to choose ice cream and coffee for any mood!</p>
          </li>
        </ul>
        <button type="button" class="btn-cow" data-cow-open>
          Read more
          <svg width="12" height="12" class="cow-icon">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="features-container">
      <ul class="features-list">
        <li class="features-item">
          <img
            srcset="./images/icon-cow.png 50w, ./images/icon-cow-2x.png 100w"
            src="./images/icon-cow.png"
            alt="Icon-cow"
            sizes="50px"
            class="features-icon"
          />
          <p class="features-number">721</p>
          <p class="features-descr">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="features-item">
          <img
            srcset="./images/icon-weight.png 50w, ./images/icon-weight-2x.png 100w"
            src="./images/icon-weight.png"
            alt="Icon-weight"
            sizes="50px"
            class="features-icon"
          />
          <p class="features-number">16kg</p>
          <p class="features-descr">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="features-item">
          <img
            srcset="./images/icon-icecream.png 50w, ./images/icon-icecream-2x.png 100w"
            src="./images/icon-icecream.png"
            alt="Icon-icecream"
            sizes="50px"
            class="features-icon"
          />
          <p class="features-number">84</p>
          <p class="features-descr">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="backdrop-cow is-hidden" data-modal-cow>
    <div class="modal-cow">
      <button class="modal-cow-btn" type="button" data-cow-close>
        <svg width="16" height="16">
          <use href="./images/icons.svg#icon-close-black"></use>
        </svg>
      </button>
      <p class="modal-cow-title">How it's made?</p>
      <video src="https://pixabay.com/ru/videos/%D0%BA%D0%BE%D1%80%D0%BE%D0%B2%D0%B0-%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D0%BE%D0%B5-%D0%BC%D0%BB%D0%B5%D0%BA%D0%BE%D0%BF%D0%B8%D1%82%D0%B0%D1%8E%D1%89%D0%B5%D0%B5-%D0%B1%D1%8B%D1%87%D0%B8%D0%B9-131551/"
                width="448px" height="205px" controls></video>
      <p class="modal-cow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
  </div>
</section>
