
<section class="cards container">
    <div class="cards__content">
        <h2 class="visually-hidden">Our restaurants</h2>
        <ul class="cards__list">
            <li class="cards__cafe">
                <p class="cards__name">CAFE</p>
                <p class="cards__city">Chicago</p>
                <div class="cards__geo"><a class="cards__addres" href="https://www.google.com/maps/place/Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.704993,-87.7794843,17z/data=!3m1!4b1!4m6!3m5!1s0x880e3ddf9cae2151:0xb17fa399f62880fd!8m2!3d41.704993!4d-87.7794843!16s%2Fg%2F1td_5s57">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a></div>
                <div class="cards__open">
                    <p class="cards__day">Monday - Friday</p>
                    <p class="cards__hours">06:00 AM - 10:00 PM</p>
                    <p class="cards__day">Saturday - Sunday</p>
                    <p class="cards__hours">08:00 AM - 16:00 PM</p>
                </div>
                <a class="cards__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="cards__cafe">
                <p class="cards__name">FOODTRUCK</p>
                <p class="cards__city">Los Angeles</p>
                <div class="cards__geo"><a class="cards__addres" href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835263,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a></div>
                <div class="cards__open">
                    <p class="cards__day">Monday - Friday</p>
                    <p class="cards__hours">06:00 AM - 10:00 PM</p>
                    <p class="cards__day">Saturday - Sunday</p>
                    <p class="cards__hours">08:00 AM - 16:00 PM</p>
                </div>
                <a class="cards__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="cards__cafe">
                <p class="cards__name">CAFE</p>
                <p class="cards__city">New York</p>
                <div class="cards__geo"><a class="cards__addres" href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726938,-73.9569227,17z/data=!3m1!4b1!4m6!3m5!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734!16s%2Fg%2F11dfjw_l7m">726 Sterling Pl, Brooklyn, NY 11222, USA</a></div>
                <div class="cards__open">
                    <p class="cards__day">Monday - Friday</p>
                    <p class="cards__hours">06:00 AM - 10:00 PM</p>
                    <p class="cards__day">Saturday - Sunday</p>
                    <p class="cards__hours">08:00 AM - 16:00 PM</p>
                </div>
                <a class="cards__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        <div class="cards__button">
            <button class="cards__button-first" type="button">Our Locations
                <svg class="cards__icon" width="12" height="12">
                    <use href="/src/images/icons.svg#icon-arrow"></use>
                </svg>
            </button>
            <button class="cards__button-second" type="button">Franchise
                <svg class="cards__icon" width="12" height="12">
                    <use href="/src/images/icons.svg#icon-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</section>