<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Reviews</h2>
    <div class="reviews__slider swiper my-swiper-review">
      <ul class="reviews__list swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <div class="reviews__thumb">
            <img
              srcset="
                ./images/pers-photo1.png    1x,
                ./images/pers-photo1-2x.png 2x
              "
              src="./images/pers-photo1.png"
              alt="Пользователь оставивий комментарий"
            />
          </div>
          <div class="reviews__text-thumb">
            <p class="reviews__text">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </li>
        <li class="reviews__item swiper-slide">
          <div class="reviews__thumb">
            <img
              srcset="
                ./images/pers-photo2.png    1x,
                ./images/pers-photo2-2x.png 2x
              "
              src="./images/pers-photo2.png"
              alt="Пользователь оставивий комментарий"
            />
          </div>
          <div class="reviews__text-thumb">
            <p class="reviews__text">
              I love eating popsicles on a hot day. Yours is always delicious. I
              recommend your cafe to everyone I know.
            </p>
          </div>
          <p class="reviews__name">Sam, Los Angeles</p>
        </li>
        <li class="reviews__item swiper-slide">
          <div class="reviews__thumb">
            <img
              srcset="
                ./images/pers-photo3.png    1x,
                ./images/pers-photo3-2x.png 2x
              "
              src="./images/pers-photo3.png"
              alt="Пользователь оставивий комментарий"
            />
          </div>
          <div class="reviews__text-thumb">
            <p class="reviews__text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <p class="reviews__name">Diana, Chicago</p>
        </li>
        <li class="reviews__item swiper-slide">
          <div class="reviews__thumb">
            <img
              srcset="
                ./images/pers-photo4.png    1x,
                ./images/pers-photo4-2x.png 2x
              "
              src="./images/pers-photo4.png"
              alt="Пользователь оставивий комментарий"
            />
          </div>
          <div class="reviews__text-thumb">
            <p class="reviews__text">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
          </div>
          <p class="reviews__name">Bryan, New-York</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
