<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__slider swiper my-swiper">
      <ul class="gallery__list swiper-wrapper">
        <li class="gallery__item swiper-slide">
          <div class="gallery__thumb">
            <picture>
              <source
                srcset="
                  ./images/alot-icecr-desk.jpg    1x,
                  ./images/alot-icecr-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/alot-icecr-tab.jpg    1x,
                  ./images/alot-icecr-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/alot-icecr-mob.jpg    1x,
                  ./images/alot-icecr-mob-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                srcset="
                  ./images/alot-icecr-desk.jpg    1x,
                  ./images/alot-icecr-desk-2x.jpg 2x
                "
                src="./images/alot-icecr-desk.jpg"
                alt="Пример мороженого"
                width="1013"
              />
            </picture>
          </div>
        </li>
        <li class="gallery__item swiper-slide">
          <div class="gallery__thumb">
            <picture>
              <source
                srcset="
                  ./images/icecr-candy-desk.jpg    1x,
                  ./images/icecr-candy-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                srcset="
                  ./images/icecr-candy-desk.jpg    1x,
                  ./images/icecr-candy-desk-2x.jpg 2x
                "
                src="./images/alot-icecr-desk.jpg"
                alt="Привер мороженого"
                width="1013"
              />
            </picture>
          </div>
        </li>
        <li class="gallery__item swiper-slide">
          <div class="gallery__thumb">
            <picture>
              <source
                srcset="
                  ./images/icecr-strawb-desk.jpg    1x,
                  ./images/icecr-strawb-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                srcset="
                  ./images/icecr-strawb-desk.jpg    1x,
                  ./images/icecr-strawb-desk-2x.jpg 2x
                "
                src="./images/alot-icecr-desk.jpg"
                alt="Привер мороженого"
                width="1013"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
