<header class="header">
  <div class="container wrap">
    <div>
      <img
        srcset="
          ./images/logo-mob.png      41w,
          ./images/logo-mob-x2.png   81w,
          ./images/logo-tab.png      48w,
          ./images/logo-tab-x2.png   96w,
          ./images/logo-desk.png     60w,
          ./images/logo-desk-x2.png 120w
        "
        sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (max-width: 767px) 41px"
        src="./images/logo-mob.png"
        alt="logo"
      />
    </div>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item"><a class="header-nav__link" href="#">Home</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#">How it’s made?</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#">Our products</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="centered-desk">
      <button
      type="button"
      class="menu-button js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="32" height="32" aria-label="Переключатель мобильного меню">
        <use
          class="mobile-open__icon"
          href="./images/icons.svg#icon-menu"
        ></use>
      </svg>
    </button>
    <button data-modal-open type="button" class="modal-button">
      Buy now
      <svg
        width="12"
        height="12"
        class="modal-button__icon"
        aria-label="Переключатель мобильного меню"
      >
        <use class="" href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </div>
    </button>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <div class="wrap">
        <div>
          <img
            srcset="
              ./images/logo-mob.png      41w,
              ./images/logo-mob-x2.png   81w,
              ./images/logo-tab.png      48w,
              ./images/logo-tab-x2.png   96w,
              ./images/logo-desk.png     60w,
              ./images/logo-desk-x2.png 120w
            "
            sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (max-width: 767px) 41px"
            src="./images/logo-mob.png"
            alt="logo"
          />
        </div>
        <button
          type="button"
          class="menu-button menu-button--cross js-close-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg
            width="19"
            height="19"
            aria-label="Переключатель мобильного меню"
          >
            <use
              class="mobile-close__icon"
              href="./images/icons.svg#icon-close-black"
            ></use>
          </svg>
        </button>
      </div>
      <ul class="mobile-menu">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link mobile-menu__link--current" href="#"
            >Home</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link mobile-menu__link--current" href="#"
            >How it’s made?</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link mobile-menu__link--current" href="#"
            >Our products</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link mobile-menu__link--current" href="#"
            >Contact</a
          >
        </li>
      </ul>
      <div class="centered">
        <button data-modal-open type="button" class="mobile-menu__mod-btn">
          Buy now
          <svg
            width="12"
            height="12"
            class="mobile-menu__icon"
            aria-label="Переключатель мобильного меню"
          >
            <use class="" href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
