<section class="hero">
  <div class="container">
    <div class="hero__position">
      <h1 class="hero__title">
        ice cream made with <span class="hero__word">passion</span>
      </h1>
      <ul class="hero__list">
        <li class="hero__item"><a class="hero__link" href="#">Products</a></li>
        <li class="hero__item">
          <a class="hero__link hero__link--noborder" href="#">How it’s made?</a>
        </li>
      </ul>
    </div>
    <img
      src="./images/hero-icecream-mob.png"
      class="hero__ice"
      width="170"
      height="219"
      alt=""
    />
  </div>
</section>
