<section class="hero">
  <div class="container ice">
    <div class="hero-center">
      <div class="hero__position">
        <h1 class="hero__title">
          ice cream made with <span class="hero__word">passion</span>
        </h1>
        <ul class="hero__list">
          <li class="hero__item">
            <a class="hero__link hero__link--border" href="#products-section"
              >Products</a
            >
          </li>
          <li class="hero__item">
            <a class="hero__link" href="#">How it’s made?</a>
          </li>
        </ul>
      </div>
      <ul class="benefits">
        <li class="benefits_item">
          <span>16</span>
          <p class="benefits_text">cafes</p>
        </li>
        <li class="benefits_item">
          <span>23</span>
          <p class="benefits_text">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero__plate">
      <div class="hero__img animate__animated animate__fadeInLeft">
        <img
          srcset="
            ./images/hero-plate-tab.png     152w,
            ./images/hero-plate-tab-x2.png  304w,
            ./images/hero-plate-desk.png    225w,
            ./images/hero-plate-desk-x2.png 450w
          "
          sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px"
          src="./images/hero-plate-tab.png"
          alt="plate"
        />
      </div>
      <div class="hero__text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="hero__button button">
          <svg class="hero__button-icon">
            <use
              href="./images/icons.svg#icon-arrow-default"
              width="40"
              class="hero__button-icon--default"
            ></use>
            <use
              href="./images/icons.svg#icon-arrow-hover"
              width="50"
              class="hero__button-icon--hover"
            ></use>
            <use
              href="./images/icons.svg#icon-arrow-focus"
              width="50"
              class="hero__button-icon--focus"
            ></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="hero__ice animate__animated animate__fadeInLeft">
      <img
        srcset="
          ./images/hero-icecream-mob.png      276w,
          ./images/hero-icecream-mob-x2.png   551w,
          ./images/hero-icecream-tab.png      379w,
          ./images/hero-icecream-tab-x2.png   757w,
          ./images/hero-icecream-desk.png     642w,
          ./images/hero-icecream-desk-x2.png 1284w
        "
        sizes="(min-width: 1200px) 642px, (min-width: 768px) 379px, (max-width: 767px) 276px"
        src="./images/hero-icecream-mob.png"
        alt="ice cream"
      />
    </div>
  </div>
</section>
