<section class="products-section section">
  <div class="products-section__container">
    <p class="products-section__lable">100% natural</p>

    <h2 class="products-section__title">products</h2>
  </div>

  <div class="products">
    <ul class="products_list">
      <li class="products__item">
        <div class="products__container">
          <img
            src="./images/products-icecream-desk.png"
            alt="ice cream"
            width="303"
            height="317"
            class="products__img"
          />

          <h3 class="products__title">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>

          <button type="button" class="products__button button">
            <svg class="products__button-icon">
              <use href="./images/icons.svg#icon-arrow-hover"></use>
              <use
                href="./images/icons.svg#icon-arrow-default"
                class="products__button-icon products__button-icon--hover"
              ></use>
              <use
                href="./images/icons.svg#icon-arrow-focus"
                class="products__button-icon products__button-icon--focus"
              ></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__item">
        <div class="products__container products__container--ice-coffee">
          <img
            src="./images/products-icecoffee-desk.png"
            alt="ice cream"
            width="303"
            height="317"
            class="products__img"
          />

          <h3 class="products__title">ice coffee</h3>

          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>

          <button type="button" class="products__button button">
            <svg class="products__button-icon" width="40">
              <use href="./images/icons.svg#icon-arrow-hover"></use>
              <use
                href="./images/icons.svg#icon-arrow-default"
                class="products__button-icon--hover"
              ></use>
              <use
                href="./images/icons.svg#icon-arrow-focus"
                class="products__button-icon--focus"
              ></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__item">
        <div class="products__container products__container--milkshakes">
          <img
            src="./images/products-milkshake-desk.png"
            alt="ice cream"
            width="303"
            height="317"
            class="products__img"
          />

          <h3 class="products__title">milkshakes</h3>

          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>

          <button type="button" class="products__button button">
            <svg class="products__button-icon">
              <use href="./images/icons.svg#icon-arrow-hover"></use>
              <use
                href="./images/icons.svg#icon-arrow-default"
                class="products__button-icon--hover"
              ></use>
              <use
                href="./images/icons.svg#icon-arrow-focus"
                class="products__button-icon--focus"
              ></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
