.reviews__list {
    margin-bottom: 32px;
}

.reviews__thumb {
    width: 85px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.reviews__text-thumb {
    background-color: $olive-background;
    margin: 0 auto;

@media screen and (min-width: 320px) {
        width: 280px;

        padding: 34px 39px;

        border-radius: 10px;
    }

@media screen and (min-width: 768px) {
        width: 705px;

        padding: 29px 80px;

        border-radius: 24px;
    }

@media screen and (min-width: 1200px) {
        width: 968px;

        padding: 39px 73px;

        border-radius: 24px;

    }
}

.reviews__text {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 255%;

    text-align: center;

    color: #FCFCFC;
    
}

.reviews__name {
    margin-top: 32px;

    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    color: #131313;

    @media screen and (min-width: 320px) {
            font-size: 20px;
            line-height: 186%;
        }
    
    @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 186%;
        }

    @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 186%;
        }
}
