.footer {
    background-color: $olive-background;
  }
  .footer-position {
    @media screen and(min-width: 768px) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  .footer-text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 16px;
    @media screen and(min-width: 768px) {
      font-size: 26px;
      line-height: 1.23;
      margin-bottom: 9px;
      width: 352px;
    }
    @media screen and(min-width: 1200px) {
      font-weight: 400;
      font-size: 30px;
      line-height: 1.23;
      margin-bottom: 14px;
      width: 504px;
    }
  }
  .footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 42px;
    @media screen and(min-width: 768px) {
      font-size: 48px;
      line-height: 1.23;
      margin-bottom: 32px;
      width: 340px;
    }
    @media screen and(min-width: 1200px) {
      font-size: 58px;
      line-height: 1.22;
      width: 497px;
      margin-bottom: 54px;
    }
  }
  .footer-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 38px;
    @media screen and(min-width: 768px) {
      margin-bottom: 32px;
    }
    @media screen and(min-width: 1200px) {
      margin-bottom: 40px;
    }
  }
  .footer-item:not(:last-child) {
    margin-right: 28px;
  }
  .footer-icon {
    width: 32px;
    height: 32px;
    align-items: center;
    fill: $olive-background;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and(min-width: 768px) {
      width: 34px;
      height: 34px;
    }
    @media screen and(min-width: 1200px) {
      width: 34px;
      height: 34px;
    }
  }
  .footer-icon:hover {
    fill: $white;
  }
  .footer-links:focus .footer-icon {
    fill: $white;
    @media screen and(min-width: 768px) {
      width: 35px;
      height: 35px;
    }
    @media screen and(min-width: 1200px) {
      width: 35px;
      height: 35px;
    }
  }
  
  .footer-contact {
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;
    margin-bottom: 40px;
    @media screen and(min-width: 768px) {
      font-size: 14px;
      line-height: 1.86;
      margin-bottom: 56px;
    }
    @media screen and(min-width: 1200px) {
      font-size: 14px;
      line-height: 1.86;
      margin-bottom: 60px;
    }
  }
  .footer-contact-text {
    color: $black;
    margin-right: 2px;
  }
  .footer-contact-tel {
    text-decoration: none;
    color: $white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-contact-tel:hover,
  .footer-contact-tel:focus {
    color: $yellow-primary;
  }
  .copyright-block {
    @media screen and(min-width: 320px) {
      display: flex;
      justify-content: center;
      border-top: 1px solid #e1e1e1;
      padding: 16px 20px 62px;
    }
    @media screen and(min-width: 768px) {
      padding: 14px 224px 13px 246px;
    }
    @media screen and(min-width: 1200px) {
      padding: 12px 470px 11px 475px;
    }
  }
  .block {
    @media screen and(min-width: 320px) {
      justify-content: center;
      width: 150px;
      text-align: center;
    }
    @media screen and(min-width: 768px) {
      width: 100%;
    }
    @media screen and(min-width: 1200px) {
      width: 100%;
    }
  }
  .copyright {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: $grey-footer;
    @media screen and(min-width: 320px) {
      line-height: 1.52;
    }
    @media screen and(min-width: 768px) {
      line-height: 1.86;
    }
    @media screen and(min-width: 1200px) {
      font-size: 12px;
      line-height: 1.86;
    }
  }