.hero{

    padding-top: 61px;
    padding-bottom: 13px;
    max-width: 1600px;
    // height: 502px;
    margin: 0 auto;
    background-color: $olive-background;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-image: url(../images/hero-dots-mob.png);
    @include retina {
        background-image: url(../images/hero-dots-mob-x2.png);
    }

    @include tablet {
        background-image: url(../images/hero-dots-tab.png);
        @include retina {
            background-image: url(../images/hero-dots-tab-x2.png);
        }
        padding-top: 40px;
        // height: 415px;
    }

    @include desktop {
        background-image: url(../images/hero-dots-desk.png);
        @include retina {
            background-image: url(../images/hero-dots-desk-x2.png);
        }
        padding-top: 45px;
        padding-bottom: 65px;
        // height: 664px;
    }
}

.hero__position{
    width: 247px;
        @media screen and (min-width: 768px) {
            width: 181px;

        }
        @media screen and (min-width: 1200px) {
            width: 367px;
        }
}
.hero__title{
    font-family: 'Seymour One', sans-serif;
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.28;
    }
    @media screen and (min-width: 1200px){
        font-size: 38px;
        line-height: 1.27;
    }
}
.hero__word{
    font-size: 34px;
    line-height: 0.96;
        @media screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 0.55;
        }
        @media screen and (min-width: 1200px){
            font-size: 38px;
        }
}
.hero__list{
    display: flex;
    margin-top: 32px;
    
    @media screen and(max-width: 767px){
        padding-bottom: 239px;
    }
    
        @media screen and (min-width: 768px) {
            margin-top: 20px;
            // margin-bottom: 51px;
        }
        @media screen and (min-width: 1200px){
            margin-top: 28px;
        }
}
.hero__link{
    display: inline-flex;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25;
    color: $yellow-primary;
    padding: 7px 10px;
    align-items: center;
    justify-content: center;
        &:hover{
            color: #0A8817;
        }
        &:focus{
            color: $white;
        }
    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.21;
        width: 154px;
        height: 40px;
    }
}
.hero__link--border{
    margin-right: 8px;
    text-decoration: none;
    color: $black;
    border: 2px solid #F8D24E;
    border-radius: 8px;
    padding: 5px 10.5px;
        &:hover {
            border-color: #0A8817;
            color: black;
        }
        
        &:focus {
            border-color: #0A8817;
            color: $white;
        }
        @media screen and (min-width: 1200px){
            width: 134px;
            height: 42px;
        }
}
.ice{
    position: relative;
}
.hero__ice{
    
    position: absolute;
    bottom: -56px;
    right: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include tablet {
        bottom: -74px;
        right: 48px;
           
    }
    @include desktop{
        bottom: -165px;
        right: 0;
    }
}
.benefits{
    @media screen and (max-width: 767px) {
        display: none;
    }
    // display: flex;
    // flex-direction: column;
    
}
.benefits_item:not(:last-child){
    margin-bottom: 20px;

}
.benefits_item{
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $black;
    @include desktop {
        font-size: 46px;
        line-height: 1.22;

    }
}
.benefits_text{
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: $white;
    text-transform: none;
    @include desktop {
        font-size: 14px;
        line-height: 1.21;
    
    }
}
.hero-center{
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 768px){
        margin-bottom: 28px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 42px;
    }
    // position: relative;
    // align-items: baseline;
    // flex-wrap: wrap;
}
.hero__plate{
    @media screen and (max-width: 767px) {
        display: none;
    }
    display: flex;
    // position: relative; 
}  
.hero__img{
    margin-right: 33px;
    // position: absolut;
    // top: 16px;
    @media screen and (min-width: 1200px){
        // top: 50px;
        margin-right: 15px;
    }
}
.hero__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: $white;
    width: 151px;
    padding-top: 28px;
    @media screen and (min-width: 1200px){
        font-size: 14px;
        width: 200px;
        padding-top: 70px;
    }
    
}
.hero__arrow {
    fill: $white;
    margin-top: 13px;
    
}

