.section {
  max-width: 1200px;
  height: 1050px;
  background-image: url(../images/4b-icecr-desk.jpg);
  background-size: cover;
  background-position: center;
}

.products {
    padding: 60 15;
}

.products__lable {
    font-weight: 800;
        font-size: 30px;
        line-height: 1.23;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: $black;
}

.products__title {
padding-bottom: 120px;

    font-family: 'Seymour One';
    font-size: 36px;
        line-height: 1.25;
           
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: $black;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    margin-top: 120px;
}

.product__item {

    margin-bottom: 57px;
    width: 370px;
    height: 535px;
}

.product__thumb {
position: relative;
       
        background: #AEC6A5;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
     outline: 2px solid red;
}

.product__img {
position: absolute;

  top: -150px;
 
  background-color: rgba(33, 150, 243, 0.9);


border-radius: 50%;
}

.product__list-title {
padding-top: 220px;

    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $black;
}

.product__list-text {
    padding: 60px;
    font-size: 16px;
    line-height: 1.76;
   

    text-align: center;
    letter-spacing: 0.04em;

    color: $black;
}

.product__button {
    display: inline-flex;

    padding-top: 0;
    padding-right: 165px;
    padding-bottom: 60px;
    padding-left: 165px;

    background-color: inherit;
    min-width: 40px;
    border: none;

}

.product__button-arrow {
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
    text-align: center;

    outline: none;
}