.products-section {
  max-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/products-bg-mob.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products-bg-mob-x2.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/products-bg-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products-bg-tab-x2.jpg);
    }
    padding-bottom: 82px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    background-image: url(../images/4b-icecr-desk.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products-bg-desk-2x.jpg);

      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

.products-section__lable {
  margin-bottom: 12px;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $black;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.products-section__title {
  margin-bottom: 148px;

  font-family: 'Seymour One';

  font-size: 30px;
  line-height: 1.27;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $black;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.27;
    margin-bottom: 200px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 303px;
  }
}

.products_list {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  // @media screen and (min-width: 1200px) {
  // }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  margin-bottom: 164px;

  width: 280px;
  height: 420px;

  background: #aec6a5;
  border-radius: 24px;

  &:hover {
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 3);
    height: 428px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
    height: 535px;
    margin-right: 16px;
    margin-bottom: 0;

    font-size: 30px;
    line-height: 1.23;
  }

  &::before {
    content: '';

    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    transform: translateY(-50%);

    display: inline-block;
    width: 201px;
    height: 211px;
    background-size: contain;
    background-image: url(../images/products-icecream-mob.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products-icecream-mob-x2.png);
    }

    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      width: 200px;
      height: 208px;

      background-image: url(../images/products-icecream-tab.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products-icecream-tab-x2.png);
      }
    }

    @media screen and (min-width: 1200px) {
      width: 302px;
      height: 317px;

      background-image: url(../images/products-icecream-desk.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products-icecream-desk-x2.png);
      }
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.products__item--ice-cofee {
  position: relative;
  background: #efd478;

  &::before {
    content: '';

    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    transform: translateY(-50%);

    display: inline-block;
    min-width: 201px;
    height: 211px;
    background-size: contain;
    background-position: center;
    background-image: url(../images/products-icecoffee-mob.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products-icecoffee-mob-x2.png);
    }

    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      width: 200px;
      height: 208px;

      background-image: url(../images/products-icecoffee-tab.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products-icecoffee-tab-x2.png);
      }
    }

    @media screen and (min-width: 1200px) {
      width: 302px;
      height: 317px;

      background-image: url(../images/products-icecoffee-desk.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products-icecoffee-desk-x2.png);
      }
    }
  }
}

.products__item--milkshakes {
  position: relative;
  background: #d6936d;

  &::before {
    content: '';

    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    transform: translateY(-50%);

    display: inline-block;
    width: 201px;
    height: 211px;
    background-size: contain;
    background-image: url(../images/products-milkshake-mob.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products-milkshake-mob-x2.png);
    }

    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      width: 200px;
      height: 208px;

      background-image: url(../images/products-milkshake-tab.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products-milkshake-tab-x2.png);
      }
    }

    @media screen and (min-width: 1200px) {
      width: 302px;
      height: 317px;

      background-image: url(../images/products-milkshake-desk.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products-milkshake-desk-x2.png);
      }
    }
  }
}

.products__title {
  padding-top: 123px;
  padding-bottom: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $black;
  @media screen and (min-width: 768px) {
    padding-top: 107px;

    font-size: 22px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 166px;

    font-size: 30px;
    line-height: 1.23;
  }
}

.products__text {
  font-size: 14px;
  line-height: 1.76;

  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  text-align: center;
  letter-spacing: 0.04em;

  color: $black;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;

    padding-left: 26px;
    padding-right: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;

    padding-left: 62px;
    padding-right: 62px;
  }
}

.products__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 20px;

  margin-top: auto;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background-color: transparent;

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }

  &:hover .products__button-icon--default,
  &:focus .products__button-icon--default {
    fill: transparent;
  }

  &:hover .products__button-icon--hover {
    fill: $black;
  }

  &:hover .products__button-icon--focus {
    fill: transparent;
  }
  &:focus .products__button-icon--hover {
    fill: transparent;
  }

  &:focus .products__button-icon--focus {
    fill: $black;
  }
}

.products__button-icon {
  max-width: 100%;
  max-height: 100%;
}

.products__button-icon--hover {
  fill: transparent;
  width: 52px;
  height: 24px;
}

.products__button-icon--focus {
  fill: transparent;
  width: 52px;
  height: 24px;
}

.products__container--ice-coffee {
  background: #efd478;
}

.products__container--milkshakes {
  background: #d6936d;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;

  outline: 2px solid #f8d24e;
  border-radius: 10px;
  background-color: #fcfcfc;

  @media screen and (max-width: 1199px) {
    max-width: 280px;
    max-height: 990px;
    padding: 28px 20px 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 568px;
    max-height: 995px;
    padding: 32px 40px;
  }
}

.modal-container {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  border: transparent;
  background: #fcfcfc;

  cursor: pointer;

  @media screen and (max-width: 1199px) {
    top: 28px;
    right: 20px;
  }

  @media screen and (min-width: 1200px) {
    top: 20px;
    right: 20px;
  }
}

.modal-container__cross {
  width: 20px;
  height: 20px;

  fill: black;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-container:hover > &,
  .modal-container:focus > & {
    fill: #84a278;
  }
}

.modal__text {
  margin-bottom: 16px;

  font-family: 'Seymour One';
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
}

.modal__photo {
  margin: 0 auto;
}

.modal__kcpf-list {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1199px) {
    margin-bottom: 39px;
    gap: 9px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 48px;
    gap: 20px;
  }
}

.modal__kcpf-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: 'Montserrat';

  color: #131313;

  border: 2px solid #84a278;
  border-radius: 40px;

  @media screen and (max-width: 1199px) {
    width: 53px;
    height: 72px;

    font-size: 10px;
    line-height: 1.2;
    padding-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    width: 65px;
    height: 90px;

    font-size: 12px;
    line-height: 1.25;
    padding-bottom: 11px;
  }
}

.modal__kcpf {
  display: flex;
  justify-content: center;

  font-family: 'Montserrat';
  font-weight: 500;

  color: #131313;

  background-color: #84a278;
  border-radius: 50%;

  @media screen and (max-width: 1199px) {
    height: 43px;
    width: 43px;
    font-size: 10px;
    line-height: 2.8;

    padding-top: 7px;
  }

  @media screen and (min-width: 1200px) {
    height: 53px;
    width: 53px;

    font-size: 12px;
    line-height: 2.33;

    padding-top: 14px;
  }
}

.modal__ingr {
  margin-bottom: 24px;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;

  color: #131313;
}

.modal__ingr-container {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin-bottom: 24px;
}

.modal__ingr-list {
  width: 100%;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;

  color: #131313;
}

.modal__ingr-item {
  display: flex;
  justify-content: space-between;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-list {
  width: 100%;
  max-width: 368px;
  margin-bottom: 32px;
}

.modal-list__item {
  margin-bottom: 16px;
}

.modal-list__input {
  display: block;
  height: 42px;
  width: 100%;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:focus-within {
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #f8d24e;
    border-radius: 10px;

    cursor: pointer;
  }

  &::placeholder {
    padding-top: 11px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.4%;

    color: #131313;
  }
}

.modal-list__lable {
  display: block;
  position: relative;
}

.modal-list__textarea {
  width: 100%;
  height: 84px;
  padding: 11px 16px;

  resize: none;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  &:focus-within {
    border: transparent;
    outline: 1px solid #f8d24e;
  }

  &::placeholder {
    padding-top: 11px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.4%;

    color: #131313;
  }
}

.modal-list__text {
  font-family: 'Seymour One';
  letter-spacing: 0.03em;

  color: $black;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.166;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__button {
  background-color: #f8d24e;
  border: transparent;
  border-radius: 10px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: #131313;

  @media screen and (max-width: 1199px) {
    width: 132px;
    height: 42px;
  }

  @media screen and (min-width: 1200px) {
    width: 121px;
    height: 42px;
  }

  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    color: #fcfcfc;
    outline: transparent;
  }
}
